/* Reset and global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: visible;
  scroll-behavior: smooth;
}

.section, #section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

/* Full-screen video section */
.full-screen-video {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
  height: 100vh;

  position: relative;
  overflow: visible;
  padding: 1vh 3vh 20vh 3vh;
  z-index: 1;
}

/* Video as background */
.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
  z-index: -1;
  background-size: cover;
}

/* Content overlay for the video section */
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 10px;

  width: fit-content;
  height: fit-content;

  padding: 0;
  overflow: visible;

  position: relative;
  color: #FAFAFA;
  text-align: center;
  z-index: 9;
}

.main-title {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 500;
  font-size: 10vw;
  line-height: normal;
  letter-spacing: 0;
  text-align: left;
  vertical-align: middle;
}

.main-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 50px;

  width: fit-content;
  height: fit-content;

  padding: 0;
  overflow: visible;

  list-style-type: none;

  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.8vw;
  line-height: normal;
  letter-spacing: 0;
  vertical-align: middle;
  text-align: center;

  text-transform: uppercase;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: auto;
  
  padding: 0;
  overflow: visible;
  color: #FAFAFA;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: clamp(8px, 1vw, 12px);
  line-height: normal;
  letter-spacing: 0;
  vertical-align: middle;
  text-align: center;

  z-index: 10;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: fit-content;
  height: fit-content;

  gap: 50px;
  padding: 0;
  overflow: visible;

  list-style-type: none;
}

.logo {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  font-size: clamp(27px, 2.5vw, 36px);
  line-height: normal;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
}

.noise-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  pointer-events: none;
  background: url('noise.gif');
  opacity: 0.15;
  mix-blend-mode: overlay;
  z-index: 3;
}

#webgl-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: 1;
  pointer-events: none;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #B0EC70;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000;
  overflow: visible;
}

.loader-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  gap: 10px;
  width: 100%;

  padding-left: 1vw;

  text-align: center;
  font-family: 'Cormorant Unicase', sans-serif;
  font-size: 3vw;
  position: relative;
  z-index: 2;
}

.loader-text {
  display: block;
  margin-bottom: 1rem;
}

.loader-counter {
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  color: #000000;
}

/* Secondary background styles */
.secondary-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #D0F4A9; /* Light green background */
  z-index: -10; /* Behind the main loader */
  animation: slideUpSmooth 2.1s ease-in-out forwards;
  animation-delay: 3s; /* 0.5s delay to follow the main loader */
}

.third-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F0FBE4; /* Light green background */
  z-index: -10; /* Behind the main loader */
  animation: slideUpSmooth 2s ease-in-out forwards;
  animation-delay: 2.7s; /* 0.5s delay to follow the main loader */
}

/* Animation for loader exit */
@keyframes slideUpSmooth {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100%);
  }
}

.loader-exit {
  animation: slideUpSmooth 2.2s ease-in-out forwards;
}

.placeholder-section {
  position: absolute; /* Positioned to slide over initial-section */
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 200; /* Default behind initial-section */
  top: 0; /* Start aligned at the top of the viewport */
  transform: translateY(100vh); /* Initially positioned below the viewport */
  transition: transform 1.6s ease-in-out; /* Smooth transition for sliding */
}

.initial, .full {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-end;
  gap: 50px;

  position: relative;
  overflow: visible;
  padding: 1vh 3vh 10vh 3vh;

  background-color: rgba(0, 0, 0, 1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.initial .title .main-title {
  font-size: 8vw;
}

.full .title .main-title {
  font-size: 5vw;
}

.secodnary-title {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 300;
  font-size: 2vw;
  line-height: normal;
  letter-spacing: 0;
  text-align: left;
  vertical-align: middle;
}

.title-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: fit-content;

  padding: 0;
  overflow: visible;

  color: #000;
}

.page-number {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 2vw;
  line-height: normal;
  letter-spacing: 0;
  vertical-align: middle;
  text-align: center;

  text-transform: uppercase;

  color: #B4B4B4;
}

.description-practices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  width: 100%;
  height: fit-content;

  padding: 0;
  overflow: visible;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;

  gap: 30px;

  width: 40%;
}

.practicies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;

  gap: 30px;

  width: max-content;
}

.third-header {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  vertical-align: middle;
  text-align: center;

  text-transform: uppercase;

  color: #fff;
}

.description .third-header {
  font-size: 1.5vw;
}

.description .body-text {
  font-family: 'Lato', sans-serif;
  font-size: 1.2vw;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0;
  vertical-align: middle;
  text-align: left;

  width: 100%;

  color: #B4B4B4;
}

.practicies .third-header {
  font-size: 1.8vw;
}

.practicies-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;

  gap: 10px;

  width: max-content;
  height: fit-content;

  padding: 0;
  overflow: visible;

  list-style-type: none;

  font-family: 'Lato', sans-serif;
  font-size: 1.2vw;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0;
  vertical-align: middle;
  text-align: left;

  color: #DDDDDD;
}

.practicies-list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; 

  gap: 10px;
}

.bullet {
  font-weight: 300;
}

.process {
  padding-bottom: 20vh;
  background-color: #9DF1E3;
}

.process .title-description * {
  color: #000;
}

.full {
  background-color: #9DF1E3;
  padding-bottom: 0;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.full *, .full .title {
  color: #000;
}

.full .body-text, .full .practicies-list *, .full .page-number {
  color: #1E1E1E;

}

.full .description, .full .third-header {
  font-size: 1.5vw;
}

.additional-practicies {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;

  gap: 30px;

  width: max-content;
}

.additional-practicies .practicies-list {
  align-items: baseline;
}

.goals {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;

  gap: 50px;

  width: 60%;
}

.full-tabs {
  width: 100%;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  list-style-type: none;
  text-transform: uppercase;
  color: #1E1E1E;

  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 1vw;
}

.tabs .active {
  font-weight: 600;
}

.business-analysis .full {
  display: none;

}

.business-analysis .full.active {
  display: flex;
}

.content {
  padding: 0;
  background-color: transparent;
}

/* Initial state of the second section */
.section.business-analysis.initial {
  position: fixed;
  bottom: -100vh; /* Start off-screen */
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

/* Keyframe animation */
@keyframes slideUp {
  from {
    bottom: -100vh;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideDown {
  from {
      bottom: 0;
  }
  to {
      bottom: -100vh;
  }
}

.section.business-analysis.initial.animate-out {
  animation: slideDown 1.5s ease-in-out forwards;
}

/* Animate the second section sliding up */
.section.business-analysis.initial.animate-in {
  animation: slideUp 1.5s ease-in-out forwards;
}

/* Hide the content initially */
.hidden-content {
  display: none;
  opacity: 0;
  pointer-events: none;
  height: auto; /* Ensure the content height can be measured */
  overflow: hidden; /* Prevent overflow issues during animation */
  transition: opacity 0.3s ease-in-out;
}

.hidden-content.visible {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

/* Reset the position after animations */
.section.business-analysis.initial.position-static {
  position: fixed;
  top: 0;
  left: auto;
  bottom: auto;
  right: auto;
  transform: none; /* Reset any transforms */
}

/* Hide the content initially */
.description-practices {
  overflow: hidden; /* Prevent layout shifts during animations */
}

/* Slide-up animation for title-description */
/* Slide-up animation */
.title-description {
  position: absolute; /* Keep this as relative */
  width: 100%;
  padding-right: 5vw;
  transition: transform 1.2s ease-in-out; /* Ensure the transition is set */
  z-index: 1;
}
.title-description.slide-up {
  transform: translateY(0); /* Reset any transform effect */
}

/* General fade and blur effect */
.fade-blur {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(0px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, filter 0.6s ease-out;
}

.fade-blur.active {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

/* Staggered animations for child elements */
.practicies-list li {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.practicies-list li.active {
  opacity: 1;
  transform: translateY(0);
}

.secodary-trace-bg, .third-trace-bg {
  position: absolute;
  width: 0%;
  height: 0%;
  background-color: red;
  z-index: 0;
}

/* Smooth collapsing of business-analysis.initial */
.section.business-analysis.initial.collapsing {
  height: 20vh; /* Collapse to 20vh */
  position: fixed; /* Stick to the top of the viewport */
  top: 0;
  transition: height 0.8s ease-in-out;
}

/* Adjust title-description during collapse */
.section.business-analysis.initial.collapsing .title-description {
  font-size: 1.5vw; /* Decreased font size */
  transition: font-size 0.8s ease-in-out;
}

/* Hide hidden-content */
.section.business-analysis.initial.collapsing .hidden-content {
  display: none;
}

/* Slide-up animation for placeholder-section */
.placeholder-section.sliding-up {
  transform: translateY(-100%);
  transition: transform 0.8s ease-in-out;
}

.placeholder-section {
  transform: translateY(100%); /* Start below the viewport */
}

/* Button Container */
.image-button {
  width: 350px;
  height: 75px;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  cursor: none;
  flex-direction: column;
}

/* Common Styles for Blocks */
.block {
  height: 25px;
  overflow: hidden;
  background-image: url('gradient.png');
  background-repeat: no-repeat;
  background-size: 350px 75px;
  opacity: 0; /* Initially hidden */
  transform: translateX(-100%); /* Start off-screen to the left */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* For slide-in animation */
}

/* Active State for Slide-In */
.block.active {
  opacity: 1; /* Make visible */
  transform: translateX(0); /* Slide into view */
}

/* Hover Effect */
.image-button:hover .block1 {
  transition: background-position 0.3s ease-in-out; /* Smooth hover transition */
  background-position: 0 0;
}

.image-button:hover .block3 {
  transition: background-position 0.3s ease-in-out; /* Smooth hover transition */
  background-position: 100% -50px;
}

/* Block 1: Top third of the image */
.block1 {
  width: 70%;
  align-self: flex-start;
  z-index: 105;
  background-position: 50% 0;
}

/* Block 2: Middle third of the image */
.block2 {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 103;
  justify-content: center;
  overflow: hidden;
  background-position: 50% -25px;
}

/* Block 3: Bottom third of the image */
.block3 {
  width: 75%;
  align-self: flex-end;
  z-index: 105;
  background-position: 50% -50px;
}

/* Centered Text Animation */
.image-button .block2 .button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  z-index: 104;
  pointer-events: none;
  transition: transform 0.5s ease, opacity 0.2s ease;
}

.image-button:hover .block2 .button-text {
  transform: translate(-50%, -150%);
  opacity: 0;
}

/* Add New Text for Slide-In */
.image-button .block2::before {
  content: "EXPLORE";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fafafa;
  text-align: center;
  z-index: 104;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s ease, opacity 0.2s ease;
}

.image-button:hover .block2::before {
  transform: translate(-50%, -50%);
  opacity: 1;
}